// HOME PAGE SCSS

/*Prevents iphone from resizing in landscape mode*/
// html {-webkit-text-size-adjust: none;}

/*Apply a natural box layout model to all elements*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	appearance:none;
	-webkit-appearance:none;
}

*:focus{
	outline:0 !important;
}

/*-----MAIN BODY STYLES-----*/
body{
	// font-size: 16px; 
	// font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans', sans-serif;
	// font-family: 'Arial', sans-serif;
	font-weight: 400; /*also loaded 600,700 for bold*/
	margin: 0;
	font-size: 14px;
	&.logged-in {
		.myNavbar {
			position: static;
		}
	}
}
p{
	// line-height: 1.4em;
	line-height: 24px;
}
.behindNav{
	background-color: $accBlue;
	height:56px;
}
.container{
	max-width: 1200px;
	margin:0 $smMargin;
	padding-bottom: 60px;
	// margin-top: 56px;
	// margin-top: 30px;
}
.removePad{
	padding:0;
}
i.icoLgPlus{
	font-size: 1.7em;
}
i.fa-ticket-alt{
	transform:rotate(-45deg);
	font-size: 1.6em;
}

/*-------COLUMN LAYOUT------*/
.row {
	clear: both;
	margin: 0 (-$gutter);
}
.column {
	padding: 0 $gutter;
	// display: inline-block;
}
// .column:first-child{
// 	padding-left:0;
// }
// .column:last-child{
// 	padding-right:0;
// }

@for $i from 1 through 4 {
	$w:($i / 4)*100%;
	.small-#{$i} {width: $w; float:left;}
	// @if $i / 4 == 1{
	// 	.small-#{$i}{padding:0;}
	// }
	// @else{
	// 	.small-#{$i}:first-child{padding-left:0;}
	// }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*-----HEADER STYLES-----*/

// header{
	// font-weight: 600;
	// max-height: 100px;
	// position:relative;
	// .logoWrap{
	// 	height: 80px;
	// 	padding: 5px 0;
	// 	.logoDiv{
	// 		// background: url('../img/logo.png') no-repeat center;
	// 		background: url(https://scera.org/wp-content/themes/scera/images/logo.png) no-repeat center;
	// 		height: 100%;
	// 		background-size: contain;
	// 	}
	// 	.logoImg{
	// 		height: 100%;
	// 	}
	// }
	
	// .icons{
	// 	position: absolute;
	// 	bottom: 5px; 
	// 	right: 15px;
	// 	// margin-bottom: 0;
	// 	.icon{
	// 		margin-left: 10px;
	// 		color: #efefef; 
	// 		font-size: 1.3em;
	// 		display: inline-block; 
	// 		.searchArea{
	// 			// display: none;
	// 			// width: 0px;
	// 			// position: absolute;
	// 			// right:0;
	// 			// float:right;				
	// 			input{
	// 				border:solid 1px black;
	// 				border-radius: 10em;
	// 				width:0px;
	// 				transition: .5s;
	// 				font-size: .8em;
	// 				// padding:5px 30px 5px 10px;
	// 				padding:5px 0 5px 0;					
	// 				// margin-right: -12px;
	// 				visibility: hidden;
	// 				&.show{
	// 					visibility: visible;
	// 					width: 180px;
	// 					padding:5px 30px 5px 10px;
	// 					margin-right: -12px;
	// 				}
	// 			}
	// 			i{
	// 				margin-left:-20px;
	// 				transition:.5s;
	// 				&.show{
	// 					color:black;
	// 				}
	// 			}
	// 		}
	// 		ul.accDD{
	// 			display: block;
	// 			position: absolute;
	// 			z-index: 90;
	// 			font-size: .8em;	
	// 			background-color: white;
	// 			padding: 10px;
	// 			border-radius: 2px;
	// 			box-shadow: 1px 1px 5px black;
	// 			margin-left:-15%;
	// 			li{
	// 				list-style-type: none;
	// 				margin-top: 10px;
	// 				a{
	// 					color:black;
	// 				}
	// 				&:first-child{
	// 					margin-top: 0;
	// 				}
	// 			}	
	// 			&.hide{
	// 				display:none;
	// 			}	
	// 		}
	// 		.activeIco{				
	// 			opacity:0.7;
	// 		}
	// 		&:hover{
	// 			cursor: pointer;
	// 			// background-color: red;				
	// 		}
	// 	}
	// }	
	// // .phoneNum{
	// // 	position: absolute;
	// // 	bottom: 5px; 
	// // 	right: 15px;
	// // 	text-decoration: none;
	// // 	color: #efefef;
	// // }
	// // &.headerBG{
	// // 	background-image: url(../img/vertical_cloth.png);
	// // }
// }

.navCol{
	display:inline-block;
	// height:100%;
	&.navL{
		width:32%;
		padding-left:16px;
	}
	&.navM{
		width:33%;
		vertical-align: top;		
		text-align: center;
		color:white;
		font-weight: $bold;
		font-size: 1.4em;
		.navLogo{
			// width: 50%;
			// margin:0 auto;
			padding-top:15px;
			// z-index: 70;
		}
	}
	&.navR{
		width:32%;
		vertical-align: top;
		.icons{
			// float:right;
			padding-top:17px;
			text-align: right;
			.icon{
				display:inline-block;
				color:white;
				margin:0;
				border:none;
				margin-right: 16px;
				padding:0;
			}
		}
	}
}
.navWrap2{
	// margin-top: -34px;
	height:53px;
}


/*-------------NAV------------*/
nav.myNavbar{
	// background-color: $mainRed;
	background-color: $accBlue;
	z-index: 60;
	// padding-top: 0;
	// padding-bottom: 0;
	padding: 3px 0 0 0;
	min-height:56px;
	position: fixed;
	top:0;
	width:100%;
	ul{
		// padding-top:10px;
		li{
			list-style-type: none;
			margin: 0 48px;
			padding: 14px 0;
			border-bottom: 1px solid rgba(255,255,255,0.5);
			ul.subNav{
				// margin-left: -20px;
				// padding: 10px 0 0 40px;
				margin-top:$smMargin;
				background-color: $bgBlue;
			}
			a{
				// color: rgba(255,255,255,0.7);
				color: white;
				text-decoration: none;
				font-size: 1.5em;
				// font-weight: 700;	
				// font-family: 'Oswald', sans-serif;
			}
			&:hover{
				a{
					color: rgba(255,255,255,1);
				}
				ul.subNav li{
					a{
						color: rgba(255,255,255,0.7);
					}
					&:hover a{
						// background-color: $mainRed;
						color: white;
					}
				}
			}
			&.current-menu-item{
				a{
					color: rgba(255,255,255,1);
				}
			}
			&:last-child{
				border:none;
			}
		}
	} 
}

.topNav{
	display:none;
	// padding-top: 10px;
	margin: 0;
	// margin-top:16px;
	// padding: 0px 0 10px 20px;
	height: 100vh;
}

.hbMenuWrap{
	padding-left:0;
	padding-right:0;
}
.hbMenu{
	display:inline-block;
	cursor: pointer;
	// padding: 5px 2%;
	padding: 10px 2% 0 2%;
}
.bar1, .bar2, .bar3{
	// background-color: #E5E5E5;
	background-color: white;	
	// width: 35px;
	// height: 5px;
	margin: 6px 0px;	
	width: 30px;
	height: 3px;	
	transition: 0.4s;
	// @include radius(2px);
}
.bar3{
	width:15px;
	transition: .1s;
}
.change{
	.bar1{
		// transform: translate(0px, 11px) rotate(-45deg);
		transform: translate(0px, 9px) rotate(-45deg);		
	}
	.bar2{
		// opacity: 0;
		transform:rotate(45deg);
	}
	.bar3{
		// transform: translate(0px, -11px) rotate(45deg);
		// transform: translate(0px, -9px) rotate(45deg);	
		// width:30px;
		width:0px;	
	}
}
.subNav{
	@include mainRedOpacity(.7);
	border: none;
	display:none;
}

.pagination{
	margin-top: 20px;
	justify-content: center;
}
.searchWrap{
	// margin-left: -20px;
	padding-bottom:20px;
	border-bottom:1px solid rgba(255,255,255,0.5);
	.searchArea{
		// font-size:14px;
		// display:none;
		color:$accBlue;
		input{
			font-size: 14px;
			width:96%;
			margin:0 $smMargin/2;
			margin-right:-18px;
			padding:17px 16px;
			padding-bottom: 15px;
			// height:48px;			
			// padding: 0 16px;
			border: 1px solid $lightBlue;
			border-radius: 5px;
			&::placeholder{
				color: $accBlue;
				font-size: 14px;
			}
		}
		i{
			margin-left:-18px;
			transform:translateY(3px);
		}
	}
}


/*-----CONTENT STYLES-----*/
h1{
	font-size: 2em;
	margin:25px 0 10px;
	// font-family: 'Oswald', sans-serif;
}
h2{
	font-size: 1.5em;
	margin: 15px 0 10px;
	// font-family: 'Oswald', sans-serif;
}
h3{
	font-size: 1.2em;
	// font-family: 'Oswald', sans-serif;
	margin: 10px 0 0 0;
	font-weight:400;
}

.homeImg{
	width:100%;
} 
// .calWrap{
// 	// display:none;
// }
p{
	// margin:5px 0;
	&.altText{
		color: #666;
		background-color: #999;
		padding: 50px 20px;

	} 
}
.subHead{
	// font-size: 1.1em;
	font-weight: 600;
	margin-top: 10px;
}
.testSq{
	width:150px;
	height: 50px;
	background-color: gray;
	margin:0 auto;
}

// --------- HOME ELEMENTS -----------
.homeSection{
	margin: 0 (-$smMargin);
	padding: 50px 0;	
	text-align: center;
	h2{
		margin:0;
		padding-bottom: 20px;
		font-size: 30px;
		font-weight: $bold;
		color: $accBlue;
	}
	.content{
		margin: 0 $smMargin; 
	}
	&.events{
		background-color: $lightBlue;
		.content{
			margin: 0 $smMargin/2;
			h2{
				padding:0;
			}	
			.event{
				margin-top: 16px;
				display:inline-block;
				width:50%;
				padding: 0 $smMargin/2;
				.eventImg{
					background-color: $medBlue;
					width:100%;
					height:164px;
					i{
						margin-top: 60px;
						color:white;
					} 
				}
				.caption{
					i{
						float:right;
						margin: 10px 5px;
						color:$accBlue;					
					}
					.title{
						margin:0;
						text-align:left;
						font-weight: $bold; 
						color:$accBlue;
					}
					.dates{
						text-align:left;
						line-height: 1em;
						font-size: 12px;

					}
				}
			}
			.audition{
				margin: 0 auto;
				margin-top: 50px;
				max-width: 50%;
				p{
					color: $accBlue;
					font-size: 20px;
					font-weight: $bold;
					i{
						font-size: 18px;
					}
				}
			} 
		}
	}
	&.features{
		.ctaBtn{
			@include defBtn;
			margin-top: 30px;
		}
		button{
			@include defBtn;
			margin-top:30px;
		}
	}
	&.venues{
		background-color: $accBlue;
		.venue{
			margin:0 auto;
			width:50%;
			.venueImg{
				background-color: $medBlue;
				width:100%;
				height:164px;
				i{
					// margin-top: 37%;
					margin-top: 60px;					
				}
			}
			p{
				font-size: 1.4em;
				margin: 8px 0 16px 0;
			}
		}
		h2,p,i{
			color:white;
		}
	}
	&.sponsors{
		.sliderWrap{
			// max-width: 800px;
			// width: 800px;
			width: 100%;
			margin:0 auto;
			overflow: hidden;
			position: relative;			
		}
		.sponsorsSlider{
			// width:1330px;	
			// $sponsWidth: 1330px;	
			$sponsWidth: 2280px;		
			width:$sponsWidth; 
			.sponsorImg{
				background-color: $medBlue;
				width: 80px;
				height: 80px;
				display: inline-block;
				margin-right: 15px;
				i{
					// margin-top:30%;
					margin-top: 20px;
					color: white;
				}
			}
			@include slider($sponsWidth);
		}
	}
}

.movieRow{
	padding-top: 10px;
	margin-top: 30px;
	border-top: 1px solid rgba(0,0,0,0.5);	
	h2{
		margin:0;
	}
	.movieImgWrap{
		float:right;
		max-width: 50%;
		img{
			width:100%;
			height:100%;
		}
	}
	.showTimesTitle{
		margin-top:20px;
		font-size: 1.1em;
		font-weight: 600;
	}
}
.templateLink{
	text-decoration: none;
	color:inherit;
}
.singlePost{
	margin-top: 20px;
	.movieImgWrap{
		float:right;
		max-width: 40%;
		img{
			width:100%;
			height:100%;
		}
	}
	.showTimesTitle{
		margin-top:20px;
		font-size: 1.1em;
		font-weight: 600;
	}
}
// .content{
// 	margin: 20px 2%;
// }

// .quadTile{
// 	width: 46%;
// 	float: left;
// 	margin: 10px 2%;
// 	position: relative;
// }
// .quadTile img{
// 	width: 100%;
// 	margin-bottom: -3px;
// 	opacity: .75;
// }
// .quadTile:hover img{
// 	opacity: 1;
// }

// .overlay{
// 	position: absolute;
// 	top:0;
// 	left:0;
// 	width:100%;
// 	height:100%;

// 	.overTop{
// 		text-align: center;
// 		position: absolute;
// 		width: 100%;
// 		top: 0;
// 		background-color: rgba(0,0,0,0.5);
// 		color: #efefef;
// 		padding: 5px 0;
// 		margin: 0;
// 	}
// 	.overBtm{
// 		text-align: center;
// 		position: absolute;
// 		width: 100%;
// 		bottom: 0;
// 		background-color: rgba(0,0,0,0.5);	
// 		color: #efefef;
// 		padding: 5px 0;
// 		font-size: .8em;
// 		margin: 0;
// 	}
// }
// .quadTile figcaption{
// 	display:none;
// }
// .title{
// 	margin-left: 2%;
// 	margin-bottom: 20px 
// }
.readMore{
	@include phoneBtn();
	font-size: .8em;
	float: right;
	margin-top:10px;
}

// .colTopImg{
// 	margin-top: 20px;
// }

// .woocommerce-MyAccount-navigation-link a{
// 	color:red;
// }

// /*---slider---- */
// .homeCaro{
// 	// max-width: 992px;
// 	margin: 0 -15px;
// 	.carousel-indicators{
// 		margin-bottom: 0;
// 		li{
// 			width: 10px;
// 			height: 10px;
// 			border-radius: 100%;
// 		}
// 	}
// 	.carousel-inner{
// 		background-color: #333;
// 		.caroOverlay{
// 			position: absolute;
// 			top:0;
// 			left:0;
// 			width: 100%;
// 			// height: 250px;
// 			// background-color: rgba(0,0,0,0.3);
// 			background-image: linear-gradient(to top right, rgba(0,0,0,0.7), rgba(0,0,0,0.1));
// 		}
// 		.carousel-caption{
// 			text-align: left;
// 			h3{
// 				text-shadow: 0 0 15px black;
// 				font-size: 1.6em;
// 			}
// 		}
// 		img{
// 			width: 100%;
// 			height: 250px;
// 			object-fit: cover;
// 		}
		
// 	}
	// .caro1{
 // 		background: url("../img/stageCurtain.jpg") no-repeat center;
	// }
	// .caro2{
 // 		background: url("../img/screenTheatre.jpg") no-repeat center;
	// }
	// .caro3{
 // 		background: url("../img/educationPaint.jpg") no-repeat center;
	// }
// }

.card{

}
.cards img{
	width: 100%;
	height: 150px; 
	object-fit: cover;
}
.cardSubTitle{
	font-size: 1em;
	font-weight: 600;
}
.eventPage img{
	width: 100%;
}



// ~~~GALLERY~~~~~~~~
.galFlex{
	@include flex;
	flex-wrap: wrap;
	figure{
		flex-basis: 50%;
		padding: 10px 2%;
		img{
			width:100%;
		}
	}
}
legend{
	font-size: 1em;
	margin: 0;
}

// LAZY GAL
.fullWidthImg{
	width: 100%;
	img{
		width: 100%;
		// opacity: 0;
		// @include fadeIn(.5s);
	}
}

/*-----FOOTER STYLES-----*/
.footerWrap{
	position:fixed;
	bottom:0;
	width: 100%;
	// margin-top: 20px;
	padding: 20px 0 16px 0;
	// background-image: url(../img/vertical_cloth.png);
	background-color: $accBlue;
	color: white;
	a{
		@include textLink();
	}
	.newsLetterForm{
		.emailInputG{
			input{
				border-radius: 15px 0 0 15px;
				border: none;
			}
			.inputBtn{
				@include btn();
				border-radius: 0 15px 15px 0;
			}
		}
	}
}

.socialIcons{
	// margin: 10px 0;
	text-align: center;
	// margin-top: 16px;	
}
.socialIcons i{
	padding: 0 15px;
	// opacity: .8;
	opacity: 1;	
	cursor: pointer;
}
.fa-twitter-square:hover{
	opacity:1;
	color:#38A1F3;
}
.fa-facebook-square:hover{
	opacity:1;
	color:#3b5998;
}
.fa-instagram:hover{
	opacity:1;
	color:#e95950;
}
.fa-google-plus-square:hover{
	opacity:1;
	color:#DD4B39;
}
.fa-youtube-square:hover{
	opacity:1;
	color:#ff0000;
}

footer {
	text-align: center;
	padding-top: 16px;
	font-size: 12px;
}
.footLogo{
	display:none;
}
/*------OTHER------*/
.keepOpen{
	clear:both;
	content: "";
	display:table;
}


