{
	"extends": ["airbnb-base"],
	"env": {
		"node": true,
		"es6": true,
		"browser": true
	},
	"rules": {
		"arrow-body-style": [0, "as-needed"],
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"no-tabs": [1, { "allowIndentationTabs": true }],
		"no-console": [2, { "allow": ["error"] }],
		"space-before-function-paren": 2,
		"no-underscore-dangle": 1,
		"no-new": 1,
		"max-len": [1, { "code": 200, "tabWidth": 1 }],
		"no-param-reassign": [1, { "props": false }]
	},
	"globals": {
		"wp": true
	}
}
