.event-carousel-container {
	overflow: hidden;
	margin-bottom: 2rem;
	.event-carousel-dates {
		.swiper-slide {
			width: 15.6rem;
			height: 15.6rem;
			background-color: $color-grey;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding: 1rem;
			cursor: pointer;
		}

		.weekday,
		.date,
		.month {
			color: $color-almost-white;
			margin: 0;
		}

		.weekday,
		.month {
			font-size: 2rem;
		}

		.date {
			font-size: 6rem;
			line-height: 1;
		}

		.swiper-slide-active {
			background-color: $color-red;
			.weekday,
			.date,
			.month {
				//color: $color-gold2;
				@include gradient-gold-text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
	.event-carousel {
		.swiper-slide {
			padding: 1.5rem;
			background-color: $color-white;
			p {
				font-size: 2rem;
				font-weight: 300;
				color: $color-grey-dark;
			}
			i {
				@include gradient-gold-bullet;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 2.4rem;
				margin-right: 1.5rem;
				vertical-align: middle;
			}
		}
	}
}