.details-section {

    h2 {
        text-align: center;
        padding-bottom: 2.7rem;
    }

    h3 {
        color: $color-white;
        font-weight: bold;
    }

    p {
        color: $color-white;
    }

    p:not(:last-child) {
        padding-bottom: 2.7rem;
    }
}