.events-info-section {
    text-align: center;

    img {
        padding-bottom: 1rem;
    }

    h3 {
        text-align: center;
        font-size: 2.8rem;
        color: $color-grey-dark;
        font-weight: bold;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-bottom: .3rem;
        text-transform: uppercase;
    }

    h4 {
        text-align: center;
        font-size: 2rem;
        color: $color-grey-dark;
        font-weight: bold;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        text-align: left;
    }

    .transition {
        padding: 2rem 0 2.1rem;
    }

    a {
        margin-top: 2rem;
    }
}