.join-container {
    @include bg-grey;
    padding: 6rem 2rem;
    text-align: center;

    h2 {
        padding-bottom: 3.1rem;
    }

    button {
        height: 4.4rem;
        width: 14.9rem;
    }
}