.policies-section {
    padding: 6rem 1.6rem 4.8rem;
    text-align: center;

    h2 {
        padding-bottom: 2.7rem;
    }

    p {
        padding-bottom: 4.8rem;
    }

    button {
        width: 14.9rem;
        height: 4.4rem;
    }
}