.rentals-section {
    text-align: center;

    p {
        color: $color-blue;
    }

    .rentals-container {
        display: inline-flex;
    
        .rentals-props img {
            width: 15.6rem;
        }

        .rentals-props p {
            font-family: $font-oxygen;
            font-size: 1.6rem;
        }

        .rentals-facilities img {
            width: 15.6rem;
        }

        .rentals-facilities p {
            font-family: $font-oxygen;
            font-size: 1.6rem;
        }
    }

    .rentals-container div:not(:first-child) {
        margin-left: 1.6rem;
    }
}
