    .podcast-section {
    h2 {
        margin-block-start: 2rem;
        margin-block-end: 1rem;
    }

    .feed-link {
        text-align: center;
        color: $color-grey-dark;
        font-size: 1.6rem;
    }
}