.staff-section {
    text-align: center;

    h3 {
        color: $color-blue;
        font-size: 2.8rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }

    img {
        width: 80%;
        margin-bottom: 1.6rem;
    }
}