.teacher-section {
    padding: 6rem 1.5rem;

    h2 {
        padding-bottom: 1.2rem;
    }

    h3 {
        color: $color-blue;
        padding-bottom: 2.6rem;
    }

    img {
        padding-bottom: 3.2rem;
    }
}