.venues-section {
    background-color: $color-blue-teal;
    padding: 8rem 4rem;
    text-align: center;
    position: relative;

    .top-left-border {
        background-image: url('../img/decoratives/venue-top-corner.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 2rem;
        left: .8rem;
    }

    .top-right-border {
        background-image: url('../img/decoratives/venue-top-corner.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 10rem;
        height: 10rem;
        top: 2rem;
        right: .8rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .side-left-border {
        background-image: url('../img/decoratives/venue-side.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 1.5rem;
        height: 22.1rem;
        top: 29.5rem;
        left: .8rem;
    }

    .side-right-border {
        background-image: url('../img/decoratives/venue-side.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 1.5rem;
        height: 22.1rem;
        top: 29.5rem;
        right: .8rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    .bottom-left-border {
        background-image: url('../img/decoratives/venue-bottom-corner.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 10rem;
        height: 10rem;
        bottom: 2rem;
        left: .8rem;
    }

    .bottom-right-border {
        background-image: url('../img/decoratives/venue-bottom-corner.png');
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        width: 10rem;
        height: 10rem;
        bottom: 2rem;
        right: .8rem;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }

    h2 { 
        padding-bottom: 4.8rem;
    }

    .venues-images {
        display: grid;
        justify-items: center;

        img {
            padding-bottom: 3.3rem;
        }

        .image-transition {
            text-align: center;
        }
    }
}