.venues-section {
	background-color: $color-blue-teal;
	padding: 6rem;
	text-align: center;
	position: relative;

	.section-corner-decoration {
		background-image: url('../img/decoratives/venue-top-corner.png');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		width: 10rem;
		height: 10rem;
		top: 2rem;
		left: .7rem;
		&.section-corner-right {
			left: auto;
			right: .7rem;
			transform: scaleX(-1);
		}
		&.section-corner-bottom {
			top: auto;
			bottom: 2rem;
			background-image: url('../img/decoratives/venue-bottom-corner.png');
		}
	}
	.section-side-decoration {
		background-image: url('../img/decoratives/venue-side.png');
		background-repeat: no-repeat;
		background-size: 100%;
		position: absolute;
		width: 1.8rem;
		height: 22.1rem;
		top: 50%;
		left: .7rem;
		transform: translateY(-50%);
		&.section-side-right {
			left: auto;
			right: .7rem;
			transform: scaleX(-1) translateY(-50%);
		}
		@media (min-width: $md-min) {
			display: none;
		}
	}

	.venues-images {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		@media (min-width: $md-min) {
			flex-direction: row;
		}
		img {
			padding-bottom: 3.3rem;
		}

		.image-transition {
			text-align: center;
			@media (min-width: $md-min) {
				display: none;
			}
		}
	}
}