.contact-page-container {
    text-align: center;

    h2 {
        padding-bottom: 2.3rem;
    }
    
    h3 {
        font-size: 20px;
        font-family: $font-oxygen;
        color: $color-grey-dark;
    }

    span {
        font-size: 20px;
        font-family: $font-oxygen;
        color: $color-grey-dark;
        font-weight: bold;
    }

    .join-container {
        @include bg-grey;
        padding: 6rem 2rem;
    
        h2 {
            padding-bottom: 3.1rem;
        }
    
        button {
            height: 4.4rem;
            width: 14.9rem;
        }
    }

    .parking-container {
        padding: 6rem 2rem 4.8rem 2rem;
    }
}