@import "variables";

$nav-height: 5.6rem;

.main-header {
	height: $nav-height;
	display: flex;
	align-items: center;
	padding: 0 1.6rem;
	.shortstack {
		width: 2.6rem;
		height: 3rem;
		cursor: pointer;
		position: absolute;
		right: 1.6rem;
		z-index: 10;
		overflow: hidden;

		&:after, &:before, span {
			display: block;
			@include gradient-gold();
			position: absolute;
			left: 0;
			width: 3.5rem;
			height: .34rem;
			transition: all .3s;
		}
		&:after, &:before {
			content: '';
			transition-delay: .1s;
		}
		&:after {
			bottom: .3rem;
			width: 60%;
		}
		&:before {
			top: .4rem;
		}
		span {
			top: 50%;
			margin-top: -.15rem;
		}
		//@media (min-width: $sm-min) {
		//	display: none;
		//}

		&.open {
			height: 2.4rem;
			width: 3rem;
			span {
				margin-top: -.3rem;
				transform: rotate(50deg);
				transform-origin: center;
				transition-delay: .1s;
				height: .23rem;
				&:first-child {
					transform: translateX(-.4rem) rotate(50deg);
				}
				&:last-child {
					transform: rotate(-55deg);
					transition-delay: .1s;
					height: .4rem;
				}
				&:after {
					margin-top: -.3rem;
				}
			}
			&:before, &:after {
				opacity: 0;
				transition: all .3s;
			}
			&:before {
				top: 50%;
			}
			&:after {
				bottom: 50%;
			}
		}
	}
	.header-logo {
		width: 11rem;
		margin-top: .3rem;
	}
	//.right-nav {
	//	position: absolute;
	//	right: 2.4rem;
	//	a {
	//		display: inline-block;
	//		width: 2.3rem;
	//		height: 2.3rem;
	//		margin-left: 1rem;
	//	}
	//	i {
	//		color: $color-white;
	//		font-size: 2rem;
	//		&.fa-ticket-alt {
	//			transform: rotate(-45deg);
	//		}
	//	}
	//}
}

#nav-wrapper {
	display: none;
	flex-direction: column;
	height: 0;
	opacity: 0;
	position: absolute;
	top: $nav-height;
	right: 0;
	bottom: 0;
	left: 0;
	transition: opacity .2s, padding 1s;
	z-index: 8;
	&.open {
		display: flex;
		height: auto;
		opacity: 1;
		transition: opacity .2s;
		padding-top: 1rem;
		padding-bottom: 4.3rem;
	}
	.admin-bar & {
		padding-top: 8.8rem;
	}
}

.menu-main-menu-container {
	overflow-y: scroll;
}
#menu-main-header-navigation {
	display: flex;
	flex-direction: column;
	padding: 1rem 4.5rem 0;
	a {
		color: $color-white;
		padding: 1.5rem 0;
		border-bottom: .1rem solid $color-gold4;
		text-decoration: none;
		font-size: 2rem;
		font-weight: 300;
	}
}

.searchWrap {
	padding: 0 1rem 2rem;
	border-bottom: .1rem solid $color-gold4;
	.searchArea {
		color: $color-blue;
		position: relative;
		input {
			font-size: 1.4rem;
			width: 100%;
			padding: 1rem 5rem 1rem 2rem;
			border: .1rem solid $color-gold4;
			border-radius: .5rem;
			&::placeholder {
				color: $color-grey-dark;
				font-size: 1.4rem;
			}
		}
		i {
			position: absolute;
			top: 50%;
			right: 2rem;
			transform: translateY(-50%);
			color: $color-grey-dark;
		}
	}
}