// VARIABLES

// MEDIA QUERIES
// stylelint-disable unit-blacklist
$xs-max: 599px;
$sm-min: 600px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1239px;
$lg-min: 1240px;
$lg-max: 1439px;
$xl-min: 1440px;
// stylelint-enable unit-blacklist

// COLORS
$color-white: #ffffff;
$color-almost-white: #F1F9FF;
$color-black: #000000;
$color-red: #801217;
$color-red-dark: #4D0B0E;
$color-grey: #A8B0BF;
$color-grey-dark: #5F6273;
$color-grey-light: #00000029;
$color-blue: #01133A;
$color-blue-teal: #03324D;
$color-brown: #785126;
$color-tan: #C7AA77;
$color-tan-light: #F2DCA6;

$color-gold1: #9F7533;
$color-gold2: #C2AA6C;
$color-gold3: #EDEAB0;
$color-gold4: #EAD996;
$color-gold5: #E3C274;

$color-white-border: rgba(255, 255, 255, 0.5);

@mixin gradient-gold { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3c274+0,ead996+25,edeab0+50,c2aa6c+75,9f7533+100 */
	background: #e3c274; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #e3c274 0%, #ead996 25%, #edeab0 50%, #c2aa6c 75%, #9f7533 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  #e3c274 0%,#ead996 25%,#edeab0 50%,#c2aa6c 75%,#9f7533 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  #e3c274 0%,#ead996 25%,#edeab0 50%,#c2aa6c 75%,#9f7533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3c274', endColorstr='#9f7533',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
$gradient-gold: linear-gradient(45deg,  #e3c274 0%,#ead996 25%,#edeab0 50%,#c2aa6c 75%,#9f7533 100%);
$gradient-gold-border: linear-gradient(45deg,  #e3c274 0%,#ead996 25%,#edeab0 50%,#c2aa6c 75%,#9f7533 100%) 1;

@mixin gradient-gold-darker { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#785126+0,c7aa77+35,f2dca6+50,c7aa77+65,9f7533+100 */
	background: rgb(120,81,38); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(120,81,38,1) 0%, rgba(199,170,119,1) 35%, rgba(242,220,166,1) 50%, rgba(199,170,119,1) 65%, rgba(159,117,51,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(120,81,38,1) 0%,rgba(199,170,119,1) 35%,rgba(242,220,166,1) 50%,rgba(199,170,119,1) 65%,rgba(159,117,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(120,81,38,1) 0%,rgba(199,170,119,1) 35%,rgba(242,220,166,1) 50%,rgba(199,170,119,1) 65%,rgba(159,117,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#785126', endColorstr='#9f7533',GradientType=0 ); /* IE6-9 */
}
$gradient-gold-darker: linear-gradient(to bottom,  rgba(120,81,38,1) 0%,rgba(199,170,119,1) 35%,rgba(242,220,166,1) 50%,rgba(199,170,119,1) 65%,rgba(159,117,51,1) 100%);
$gradient-gold-darker-border: linear-gradient(to bottom,  rgba(120,81,38,1) 0%,rgba(199,170,119,1) 35%,rgba(242,220,166,1) 50%,rgba(199,170,119,1) 65%,rgba(159,117,51,1) 100%) 1;

@mixin gradient-gold-bullet { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9f7533+0,c2aa6c+25,edeab0+50,ead996+75,e3c274+100 */
	background: rgb(159,117,51); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(159,117,51,1) 0%, rgba(194,170,108,1) 25%, rgba(237,234,176,1) 50%, rgba(234,217,150,1) 75%, rgba(227,194,116,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(159,117,51,1) 0%,rgba(194,170,108,1) 25%,rgba(237,234,176,1) 50%,rgba(234,217,150,1) 75%,rgba(227,194,116,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(75deg,  rgba(159,117,51,1) 0%,rgba(194,170,108,1) 50%,rgba(237,234,176,1) 70%,rgba(234,217,150,1) 85%,rgba(227,194,116,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f7533', endColorstr='#e3c274',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin gradient-black-transparent { /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.8+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}

@mixin bg-blue {
	background-color: $color-blue;
	background-image: url('../img/textures/bg-texture-blue.png');
	background-size: 12.5rem;
}

@mixin bg-grey {
	background-color: $color-grey;
	background-image: url('../img/textures/bg-texture-grey-opacity40.png');
	background-size: 12.5rem;
}

@mixin bg-blue-teal {
	background-color: $color-blue-teal;
	background-image: url('../img/textures/bg-texture-black.png');
	background-size: 12.5rem;
}

@mixin bg-texture($bg-color) {
	background-color: "$color-#{$bg-color}";
	background-image: url('../img/textures/bg-texture-#{$color}.png');
	background-size: 12.5rem;
}

$font-carlos: 'Carlos', 'Cinzel Decorative', cursive, serif;
$font-oxygen: 'Oxygen', Arial, sans-serif,
