@import 'partials/variables';

/*Apply a natural box layout model to all elements*/
* {
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}

html {
	font-size: 62.5%;
}

/*-----MAIN BODY STYLES-----*/
body {
	font-family: $font-oxygen;
	font-size: 1.4rem;
	&.logged-in {
		.myNavbar {
			position: static;
		}
	}
	&.nav-open {
		overflow: hidden;
	}
}

h3 {
	font-size: 2rem;
}

p {
	line-height: 1.4;
}

img {
	max-width: 100%;
}

.scera-btn {
	display: inline-block;
	position: relative;
	min-width: 10rem;
	max-width: 20rem;
	font-family: $font-carlos;
	font-size: 1.8rem;
	padding: 1.3rem 3rem 1.1rem;
	letter-spacing: .14rem;
	text-align: center;
	line-height: 1;
	background-color: $color-blue;
	background-image: url('../img/textures/button-bg.png');
	border: .3rem double $color-gold4;
	border-image: $gradient-gold-border;
	border-left-width: .5rem;
	border-right-width: .5rem;
	text-decoration: none;
	color: $color-white;
	text-transform: uppercase;
	&:after {
		content: "";
		position: absolute;
		border: .1rem solid $color-gold4;
		border-image: $gradient-gold-border;
		border-left-width: .3rem;
		border-right-width: .3rem;
		top: .2rem;
		right: .2rem;
		bottom: .2rem;
		left: .2rem;
	}
}

.title {
	font-family: $font-carlos;
	font-size: 6rem;
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	margin-top: 0;
	&.gold {
		@include gradient-gold-text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&.blue {
		color: $color-blue;
	}
	&.teal {
		color: $color-blue-teal;
	}
}

.text-section {
	font-size: 2rem;
	color: $color-grey-dark;
}

.title-section {
	text-align: center;

	h3 {
		text-align: left;
		font-size: 2rem;
		color: $color-grey-dark;
	}

	p {
		margin-block-start: .5rem;
		margin-block-end: .5rem;
	}

	span {
		text-align: left;
		font-size: 2rem;
		color: $color-grey-dark;
		font-weight: bold;
	}

	p {
		text-align: left;
	}

	i {
		font-size: 2.4rem;
		@include gradient-gold;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-right: 1rem;
	}

	a {
		margin-top: 2rem;
	}

	.show-map {
		font-size: 1.6rem;
		font-weight: bold;
		color: $color-grey;
	}

	img {
		padding: 3rem 0;
	}
}

.title-section-center {
	text-align: center;

	h3 {
		font-size: 2rem;
		color: $color-grey-dark;
	}

	p {
		margin-block-start: 1rem;
		margin-block-end: 1rem;
	}

	span {
		font-size: 2rem;
		color: $color-grey-dark;
		font-weight: bold;
	}

	i {
		font-size: 2.4rem;
		@include gradient-gold;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-right: 1rem;
	}

	a {
		margin-top: 2rem;
	}

	.show-map {
		font-size: 1.6rem;
		font-weight: bold;
		color: $color-grey;
	}

	img {
		padding: 3rem 0;
	}
}

.center {
	text-align: center;
}

.padding {
	padding-bottom: 2rem;
}

.padding-none {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

.bg-blue {
	background-color: $color-blue;
	background-image: url('../img/textures/bg-texture-blue.png');
	background-size: 12.5rem;

	p {
		color: $color-white;
	}
}

.bg-grey {
	background-color: $color-grey;
	background-image: url('../img/textures/bg-texture-grey-opacity40.png');
	background-size: 12.5rem;

	p {
		color: $color-blue;
	}
}

.bg-red {
	background-color: $color-red-dark;
	background-image: url('../img/textures/bg-texture-red.png');
	background-size: 12.5rem;

	p {
		color: $color-white;
	}
}

.bg-blue-teal {
	background-color: $color-blue-teal;
	background-image: url('../img/textures/bg-texture-black.png');
	background-size: 12.5rem;
}

.border-section {
	padding: 8rem 1.6rem 6.4rem;
	border-top: .4rem solid $color-gold3;
    border-bottom: .4rem solid $color-gold3;
	position: relative;
	
	.top-transition-red, .bottom-transition-red {
		width: 20rem;
		height:4.5rem;
		position:absolute;
		background-size: 100%;
		background-image: url('../img/decoratives/red-border.png');
		left:50%;
		transform:translateX(-50%);
	}

	.top-transition-blue, .bottom-transition-blue {
		width: 20rem;
		height:4.5rem;
		position:absolute;
		background-size: 100%;
		background-image: url('../img/decoratives/blue-border.png');
		left:50%;
		transform:translateX(-50%);
	}
	.top-transition-red, .top-transition-blue{
		top:-1.7rem;
	}
	.bottom-transition-red, .bottom-transition-blue{
		bottom:-1.7rem;
		transform: scaleY(-1) translateX(-50%);
	}
}

.borderless-section {
    padding: 6.4rem 1.6rem 6.4rem;
}
