// HOME PAGE SCSS

@import 'partials/variables';
@import 'partials/mixins';
/*Prevents iphone from resizing in landscape mode*/
// html {-webkit-text-size-adjust: none;}

/*Apply a natural box layout model to all elements*/
* {
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}

html {
	font-size: 62.5%;
}

/*-----MAIN BODY STYLES-----*/
body {
	font-family: $font-oxygen;
	font-size: 1.4rem;
	&.logged-in {
		.myNavbar {
			position: static;
		}
	}
}

p {
	line-height: 1.4;
}

img {
	max-width: 100%;
}

.scera-btn {
	display: inline-block;
	font-family: $font-carlos;
	padding: 1.2rem 2rem;
	background-color: $color-blue;
	background-image: url('../img/textures/button-bg.png');
	border: .2rem solid;
	border-image: linear-gradient(45deg,  #e3c274 0%,#ead996 20%,#ead996 25%,#edeab0 50%,#c2aa6c 75%,#c2aa6c 75%,#9f7533 100%) 1;
	text-decoration: none;
	color: $color-white;
	text-transform: uppercase;

}



/**********************/
/***** Old Styles *****/
/**********************/
//.subNav {
//	@include mainRedOpacity(.7);
//	border: none;
//	display: none;
//}
//
//.pagination {
//	margin-top: 2rem;
//	justify-content: center;
//}

//
///*-----CONTENT STYLES-----*/
//h1 {
//	font-size: 2rem;
//	margin: 2.5rem 0 1rem;
//}
//h2 {
//	font-size: 1.5rem;
//	margin: 1.5rem 0 1rem;
//}
//h3 {
//	font-size: 1.2rem;
//	margin: 1rem 0 0 0;
//	font-weight: 400;
//}
//
//.homeImg {
//	width: 100%;
//}
//.altText {
//	color: #666;
//	background-color: #999;
//	padding: 5rem 2rem;
//
//}
//
//.subHead {
//	// font-size: 1.1em;
//	font-weight: 600;
//	margin-top: 1rem;
//}
//.testSq {
//	width: 15rem;
//	height: 5rem;
//	background-color: gray;
//	margin: 0 auto;
//}
//
//// --------- HOME ELEMENTS -----------
//.homeSection {
//	margin: 0 (-$smMargin);
//	padding: 5rem 0;
//	text-align: center;
//	h2 {
//		margin: 0;
//		padding-bottom: 2rem;
//		font-size: 3rem;
//		font-weight: $bold;
//		color: $accBlue;
//	}
//	.content {
//		margin: 0 $smMargin;
//	}
//	&.events {
//		background-color: $lightBlue;
//		.content {
//			margin: 0 $smMargin/2;
//			h2 {
//				padding: 0;
//			}
//			.event {
//				margin-top: 1.6rem;
//				display: inline-block;
//				width: 50%;
//				padding: 0 $smMargin/2;
//				.eventImg {
//					background-color: $medBlue;
//					width: 100%;
//					height: 16.4rem;
//					i {
//						margin-top: 6rem;
//						color: white;
//					}
//				}
//				.caption {
//					i {
//						float: right;
//						margin: 1rem .5rem;
//						color: $accBlue;
//					}
//					.title {
//						margin: 0;
//						text-align: left;
//						font-weight: $bold;
//						color: $accBlue;
//					}
//					.dates {
//						text-align: left;
//						line-height: 1;
//						font-size: 1.2rem;
//
//					}
//				}
//			}
//			.audition {
//				margin: 5rem auto 0;
//				max-width: 50%;
//				p {
//					color: $accBlue;
//					font-size: 2rem;
//					font-weight: $bold;
//					i {
//						font-size: 1.8rem;
//					}
//				}
//			}
//		}
//	}
//	&.features {
//		.ctaBtn {
//			@include defBtn;
//			margin-top: 3rem;
//		}
//		button {
//			@include defBtn;
//			margin-top: 3rem;
//		}
//	}
//	&.venues {
//		background-color: $accBlue;
//		.venue {
//			margin: 0 auto;
//			width: 50%;
//			.venueImg {
//				background-color: $medBlue;
//				width: 100%;
//				height: 16.4rem;
//				i {
//					margin-top: 6rem;
//				}
//			}
//			p {
//				font-size: 1.4em;
//				margin: .8rem 0 1.6rem 0;
//			}
//		}
//		h2,
//		p,
//		i {
//			color: white;
//		}
//	}
//	&.sponsors {
//		.sliderWrap {
//			width: 100%;
//			margin: 0 auto;
//			overflow: hidden;
//			position: relative;
//		}
//		.sponsorsSlider {
//			$sponsWidth: 228rem;
//			width: $sponsWidth;
//			.sponsorImg {
//				background-color: $medBlue;
//				width: 8rem;
//				height: 8rem;
//				display: inline-block;
//				margin-right: 1.5rem;
//				i {
//					margin-top: 2rem;
//					color: white;
//				}
//			}
//			@include slider($sponsWidth);
//		}
//	}
//}
//
//.movieRow {
//	padding-top: 1rem;
//	margin-top: 3rem;
//	border-top: .1rem solid rgba(0,0,0,0.5);
//	h2 {
//		margin: 0;
//	}
//	.movieImgWrap {
//		float: right;
//		max-width: 50%;
//		img {
//			width: 100%;
//			height: 100%;
//		}
//	}
//	.showTimesTitle {
//		margin-top: 2rem;
//		font-size: 1.1rem;
//		font-weight: 600;
//	}
//}
//.templateLink {
//	text-decoration: none;
//	color: inherit;
//}
//.singlePost {
//	margin-top: 2rem;
//	.movieImgWrap {
//		float: right;
//		max-width: 40%;
//		img {
//			width: 100%;
//			height: 100%;
//		}
//	}
//	.showTimesTitle {
//		margin-top: 2rem;
//		font-size: 1.1rem;
//		font-weight: 600;
//	}
//}
//.readMore {
//	@include phoneBtn();
//	font-size: .8rem;
//	float: right;
//	margin-top: 1rem;
//}
//
//
//.card {}
//.cards img {
//	width: 100%;
//	height: 15rem;
//	object-fit: cover;
//}
//.cardSubTitle {
//	font-size: 1em;
//	font-weight: 600;
//}
//.eventPage img {
//	width: 100%;
//}
//
//
//
//// ~~~GALLERY~~~~~~~~
//.galFlex {
//	@include flex;
//	flex-wrap: wrap;
//	figure {
//		flex-basis: 50%;
//		padding: 1rem 2%;
//		img {
//			width: 100%;
//		}
//	}
//}
//legend {
//	font-size: 1rem;
//	margin: 0;
//}
//
//// LAZY GAL
//.fullWidthImg {
//	width: 100%;
//	img {
//		width: 100%;
//		// opacity: 0;
//		// @include fadeIn(.5s);
//	}
//}
//
