@import 'partials/variables';

/*Apply a natural box layout model to all elements*/
* {
	box-sizing: border-box;
}

*:focus {
	outline: 0 !important;
}

html {
	font-size: 62.5%;
}

/*-----MAIN BODY STYLES-----*/
body {
	font-family: $font-oxygen;
	font-size: 1.4rem;
	&.logged-in {
		.myNavbar {
			position: static;
		}
	}
}

h3 {
	font-size: 2rem;
}

p {
	line-height: 1.4;
}

img {
	max-width: 100%;
}

button {
	width: 14.9rem;
	height: 4.4rem;
	margin-top: 4.8rem;
}

.scera-btn {
	display: inline-block;
	font-family: $font-carlos;
	font-size: 1.8rem;
	padding: 1.2rem 1.6rem 1rem;
	letter-spacing: .14rem;
	background-color: $color-blue;
	background-image: url('../img/textures/button-bg.png');
	border: .3rem ridge $color-gold4;
	border-image: $gradient-gold-border;
	text-decoration: none;
	color: $color-white;
	text-transform: uppercase;
}

.title {
	font-family: $font-carlos;
	font-size: 6rem;
	text-transform: uppercase;
	&.gold {
		@include gradient-gold;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&.blue {
		color: $color-blue;
	}
	&.teal {
		color: $color-blue-teal;
	}
}

.text-section {
	font-size: 2rem;
	color: $color-grey-dark;
}

.title-section {
	padding: 3.8rem 2rem 4.8rem;
	text-align: center;

	h2 {
		padding-bottom: 2.8rem;
	}

	h3 {
		text-align: left;
		font-size: 2rem;
		color: $color-grey-dark;
	}

	span {
		text-align: left;
		font-size: 2rem;
		color: $color-grey-dark;
		font-weight: bold;
	}

	p {
		text-align: left;
	}

	p:not(:last-child) {
        padding-bottom: 2.7rem;
	}
}

.title-section-center {
	padding: 3.8rem 2rem 4.8rem;
	text-align: center;

	h2 {
		padding-bottom: 2.8rem;
	}

	h3 {
		font-size: 2rem;
		color: $color-grey-dark;
	}

	span {
		font-size: 2rem;
		color: $color-grey-dark;
		font-weight: bold;
	}

	p:not(:last-child) {
        padding-bottom: 2.7rem;
	}
	
}

.center {
	text-align: center;
}

.padding-none {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}

.uppercase {
	text-transform: uppercase;
}

.bg-blue {
	background-color: $color-blue;
	background-image: url('../img/textures/bg-texture-blue.png');
	background-size: 12.5rem;
}

.bg-grey {
	background-color: $color-grey;
	background-image: url('../img/textures/bg-texture-grey-opacity40.png');
	background-size: 12.5rem;
}

.bg-red {
	background-color: $color-red-dark;
	background-image: url('../img/textures/bg-texture-red.png');
	background-size: 12.5rem;
}

.bg-blue-teal {
	background-color: $color-blue-teal;
	background-image: url('../img/textures/bg-texture-black.png');
	background-size: 12.5rem;
}
