/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

/*Prevents iphone from resizing in landscape mode*/
/*Apply a natural box layout model to all elements*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none; }

*:focus {
  outline: 0 !important; }

/*-----MAIN BODY STYLES-----*/
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*also loaded 600,700 for bold*/
  margin: 0;
  font-size: 14px; }

p {
  line-height: 24px; }

.behindNav {
  background-color: #2699FB;
  height: 56px; }

.container {
  max-width: 1200px;
  margin: 0 16px;
  padding-bottom: 60px; }

.removePad {
  padding: 0; }

i.icoLgPlus {
  font-size: 1.7em; }

i.fa-ticket-alt {
  transform: rotate(-45deg);
  font-size: 1.6em; }

/*-------COLUMN LAYOUT------*/
.row {
  clear: both;
  margin: 0 -8px; }

.column {
  padding: 0 8px; }

.small-1 {
  width: 25%;
  float: left; }

.small-2 {
  width: 50%;
  float: left; }

.small-3 {
  width: 75%;
  float: left; }

.small-4 {
  width: 100%;
  float: left; }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/*-----HEADER STYLES-----*/
.navCol {
  display: inline-block; }
  .navCol.navL {
    width: 32%;
    padding-left: 16px; }
  .navCol.navM {
    width: 33%;
    vertical-align: top;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 1.4em; }
    .navCol.navM .navLogo {
      padding-top: 15px; }
  .navCol.navR {
    width: 32%;
    vertical-align: top; }
    .navCol.navR .icons {
      padding-top: 17px;
      text-align: right; }
      .navCol.navR .icons .icon {
        display: inline-block;
        color: white;
        margin: 0;
        border: none;
        margin-right: 16px;
        padding: 0; }

.navWrap2 {
  height: 53px; }

/*-------------NAV------------*/
nav.myNavbar {
  background-color: #2699FB;
  z-index: 60;
  padding: 3px 0 0 0;
  min-height: 56px;
  position: fixed;
  top: 0;
  width: 100%; }
  nav.myNavbar ul li {
    list-style-type: none;
    margin: 0 48px;
    padding: 14px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    nav.myNavbar ul li ul.subNav {
      margin-top: 16px;
      background-color: #7FC4FD; }
    nav.myNavbar ul li a {
      color: white;
      text-decoration: none;
      font-size: 1.5em; }
    nav.myNavbar ul li:hover a {
      color: white; }
    nav.myNavbar ul li:hover ul.subNav li a {
      color: rgba(255, 255, 255, 0.7); }
    nav.myNavbar ul li:hover ul.subNav li:hover a {
      color: white; }
    nav.myNavbar ul li.current-menu-item a {
      color: white; }
    nav.myNavbar ul li:last-child {
      border: none; }

.topNav {
  display: none;
  margin: 0;
  height: 100vh; }

.hbMenuWrap {
  padding-left: 0;
  padding-right: 0; }

.hbMenu {
  display: inline-block;
  cursor: pointer;
  padding: 10px 2% 0 2%; }

.bar1, .bar2, .bar3 {
  background-color: white;
  margin: 6px 0px;
  width: 30px;
  height: 3px;
  transition: 0.4s; }

.bar3 {
  width: 15px;
  transition: .1s; }

.change .bar1 {
  transform: translate(0px, 9px) rotate(-45deg); }
.change .bar2 {
  transform: rotate(45deg); }
.change .bar3 {
  width: 0px; }

.subNav {
  background-color: rgba(134, 4, 9, 0.7);
  border: none;
  display: none; }

.pagination {
  margin-top: 20px;
  justify-content: center; }

.searchWrap {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .searchWrap .searchArea {
    color: #2699FB; }
    .searchWrap .searchArea input {
      font-size: 14px;
      width: 96%;
      margin: 0 8px;
      margin-right: -18px;
      padding: 17px 16px;
      padding-bottom: 15px;
      border: 1px solid #F1F9FF;
      border-radius: 5px; }
      .searchWrap .searchArea input::placeholder {
        color: #2699FB;
        font-size: 14px; }
    .searchWrap .searchArea i {
      margin-left: -18px;
      transform: translateY(3px); }

/*-----CONTENT STYLES-----*/
h1 {
  font-size: 2em;
  margin: 25px 0 10px; }

h2 {
  font-size: 1.5em;
  margin: 15px 0 10px; }

h3 {
  font-size: 1.2em;
  margin: 10px 0 0 0;
  font-weight: 400; }

.homeImg {
  width: 100%; }

p.altText {
  color: #666;
  background-color: #999;
  padding: 50px 20px; }

.subHead {
  font-weight: 600;
  margin-top: 10px; }

.testSq {
  width: 150px;
  height: 50px;
  background-color: gray;
  margin: 0 auto; }

.homeSection {
  margin: 0 -16px;
  padding: 50px 0;
  text-align: center; }
  .homeSection h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #2699FB; }
  .homeSection .content {
    margin: 0 16px; }
  .homeSection.events {
    background-color: #F1F9FF; }
    .homeSection.events .content {
      margin: 0 8px; }
      .homeSection.events .content h2 {
        padding: 0; }
      .homeSection.events .content .event {
        margin-top: 16px;
        display: inline-block;
        width: 50%;
        padding: 0 8px; }
        .homeSection.events .content .event .eventImg {
          background-color: #BCE0FD;
          width: 100%;
          height: 164px; }
          .homeSection.events .content .event .eventImg i {
            margin-top: 60px;
            color: white; }
        .homeSection.events .content .event .caption i {
          float: right;
          margin: 10px 5px;
          color: #2699FB; }
        .homeSection.events .content .event .caption .title {
          margin: 0;
          text-align: left;
          font-weight: 700;
          color: #2699FB; }
        .homeSection.events .content .event .caption .dates {
          text-align: left;
          line-height: 1em;
          font-size: 12px; }
      .homeSection.events .content .audition {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 50%; }
        .homeSection.events .content .audition p {
          color: #2699FB;
          font-size: 20px;
          font-weight: 700; }
          .homeSection.events .content .audition p i {
            font-size: 18px; }
  .homeSection.features .ctaBtn {
    text-decoration: none;
    background-color: transparent;
    color: #2699FB;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #2699FB;
    border-radius: 4px;
    padding: 20px 60px;
    margin-top: 30px; }
    .homeSection.features .ctaBtn:hover {
      cursor: pointer;
      background-color: #7FC4FD; }
  .homeSection.features button {
    text-decoration: none;
    background-color: transparent;
    color: #2699FB;
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #2699FB;
    border-radius: 4px;
    padding: 20px 60px;
    margin-top: 30px; }
    .homeSection.features button:hover {
      cursor: pointer;
      background-color: #7FC4FD; }
  .homeSection.venues {
    background-color: #2699FB; }
    .homeSection.venues .venue {
      margin: 0 auto;
      width: 50%; }
      .homeSection.venues .venue .venueImg {
        background-color: #BCE0FD;
        width: 100%;
        height: 164px; }
        .homeSection.venues .venue .venueImg i {
          margin-top: 60px; }
      .homeSection.venues .venue p {
        font-size: 1.4em;
        margin: 8px 0 16px 0; }
    .homeSection.venues h2, .homeSection.venues p, .homeSection.venues i {
      color: white; }
  .homeSection.sponsors .sliderWrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
  .homeSection.sponsors .sponsorsSlider {
    width: 2280px; }
    .homeSection.sponsors .sponsorsSlider .sponsorImg {
      background-color: #BCE0FD;
      width: 80px;
      height: 80px;
      display: inline-block;
      margin-right: 15px; }
      .homeSection.sponsors .sponsorsSlider .sponsorImg i {
        margin-top: 20px;
        color: white; }
    .homeSection.sponsors .sponsorsSlider .first {
      -webkit-animation: bannermove 25.3333333333s linear infinite;
      -moz-animation: bannermove 25.3333333333s linear infinite;
      -o-animation: bannermove 25.3333333333s linear infinite;
      -ms-animation: bannermove 25.3333333333s linear infinite;
      animation: bannermove 25.3333333333s linear infinite; }
@keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2280px; } }
@-moz-keyframes bannermove {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2280px; } }
@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2280px; } }
@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2280px; } }
@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: -2280px; } }
.movieRow {
  padding-top: 10px;
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.5); }
  .movieRow h2 {
    margin: 0; }
  .movieRow .movieImgWrap {
    float: right;
    max-width: 50%; }
    .movieRow .movieImgWrap img {
      width: 100%;
      height: 100%; }
  .movieRow .showTimesTitle {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 600; }

.templateLink {
  text-decoration: none;
  color: inherit; }

.singlePost {
  margin-top: 20px; }
  .singlePost .movieImgWrap {
    float: right;
    max-width: 40%; }
    .singlePost .movieImgWrap img {
      width: 100%;
      height: 100%; }
  .singlePost .showTimesTitle {
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 600; }

.readMore {
  text-decoration: none;
  background-color: #437DAB;
  color: #efefef;
  font-weight: 600;
  border: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  font-size: .8em;
  float: right;
  margin-top: 10px; }
  .readMore:hover {
    box-shadow: 0 2px 5px black; }

.cards img {
  width: 100%;
  height: 150px;
  object-fit: cover; }

.cardSubTitle {
  font-size: 1em;
  font-weight: 600; }

.eventPage img {
  width: 100%; }

.galFlex {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  flex-wrap: wrap; }
  .galFlex figure {
    flex-basis: 50%;
    padding: 10px 2%; }
    .galFlex figure img {
      width: 100%; }

legend {
  font-size: 1em;
  margin: 0; }

.fullWidthImg {
  width: 100%; }
  .fullWidthImg img {
    width: 100%; }

/*-----FOOTER STYLES-----*/
.footerWrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0 16px 0;
  background-color: #2699FB;
  color: white; }
  .footerWrap a {
    text-decoration: none;
    color: #efefef;
    opacity: .8; }
    .footerWrap a:hover {
      opacity: 1; }
  .footerWrap .newsLetterForm .emailInputG input {
    border-radius: 15px 0 0 15px;
    border: none; }
  .footerWrap .newsLetterForm .emailInputG .inputBtn {
    text-decoration: none;
    background-color: #860409;
    color: #efefef;
    font-family: 'Oswald',sans-serif;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
    border-radius: 0 15px 15px 0; }
    .footerWrap .newsLetterForm .emailInputG .inputBtn:hover {
      box-shadow: 0 2px 5px black; }

.socialIcons {
  text-align: center; }

.socialIcons i {
  padding: 0 15px;
  opacity: 1;
  cursor: pointer; }

.fa-twitter-square:hover {
  opacity: 1;
  color: #38A1F3; }

.fa-facebook-square:hover {
  opacity: 1;
  color: #3b5998; }

.fa-instagram:hover {
  opacity: 1;
  color: #e95950; }

.fa-google-plus-square:hover {
  opacity: 1;
  color: #DD4B39; }

.fa-youtube-square:hover {
  opacity: 1;
  color: #ff0000; }

footer {
  text-align: center;
  padding-top: 16px;
  font-size: 12px; }

.footLogo {
  display: none; }

/*------OTHER------*/
.keepOpen {
  clear: both;
  content: "";
  display: table; }

@media only screen and (min-width: 600px) {
  /*-----MAIN BODY STYLES-----*/
  .container {
    margin: 0 24px; }

  /*-------COLUMN LAYOUT------*/
  .row {
    clear: both;
    margin: 0 -12px; }

  .column {
    padding: 0 12px; }

  .medium-1 {
    width: 12.5%;
    float: left; }

  .medium-2 {
    width: 25%;
    float: left; }

  .medium-3 {
    width: 37.5%;
    float: left; }

  .medium-4 {
    width: 50%;
    float: left; }

  .medium-5 {
    width: 62.5%;
    float: left; }

  .medium-6 {
    width: 75%;
    float: left; }

  .medium-7 {
    width: 87.5%;
    float: left; }

  .medium-8 {
    width: 100%;
    float: left; }

  /*-----HEADER STYLES-----*/
  /*-----------NAV----------*/
  /*-----CONTENT STYLES-----*/
  /*-----sliders--------*/
  .carousel-inner .caro1 img {
    object-position: center 80%; }
  .carousel-inner .caro2 img {
    object-position: center 50%; }
  .carousel-inner .caro3 img {
    object-position: center 20%; }

  /*-----MOVIES ARCHIVE-------*/
  .movieRow {
    padding-top: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.5); }
    .movieRow.movieRow:first-child {
      border-left: none; }

  /*-----FOOTER STYLES-----*/ }
@media only screen and (min-width: 1366px) {
  /*-----MAIN BODY STYLES-----*/
  /*-------COLUMN LAYOUT------*/
  .large-1 {
    width: 8.3333333333%;
    float: left; }

  .large-2 {
    width: 16.6666666667%;
    float: left; }

  .large-3 {
    width: 25%;
    float: left; }

  .large-4 {
    width: 33.3333333333%;
    float: left; }

  .large-5 {
    width: 41.6666666667%;
    float: left; }

  .large-6 {
    width: 50%;
    float: left; }

  .large-7 {
    width: 58.3333333333%;
    float: left; }

  .large-8 {
    width: 66.6666666667%;
    float: left; }

  .large-9 {
    width: 75%;
    float: left; }

  .large-10 {
    width: 83.3333333333%;
    float: left; }

  .large-11 {
    width: 91.6666666667%;
    float: left; }

  .large-12 {
    width: 100%;
    float: left; }

  /*-----HEADER STYLES-----*/
  /*-----------NAV----------*/
  /*-----CONTENT STYLES-----*/
  /*-----CRUISES PAGE------*/
  .post {
    height: 200px;
    margin: 40px 0; }

  .cruisePosts p {
    min-height: 100px; }
  .cruisePosts img {
    height: 200px; }

  /*---------book page---------*/
  .bookPage input, .bookPage select {
    width: 40%; }

  .galFlex {
    display: flex;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    flex-wrap: wrap; }
    .galFlex figure {
      flex-basis: 25%; }
      .galFlex figure img {
        width: 100%; }

  /*-----FOOTER STYLES-----*/
  .foot1, .foot2, .foot3 {
    width: 33.3333333333%;
    margin: 0;
    padding: 0 .5%; } }

/*# sourceMappingURL=main.css.map */
